@charset "utf-8";

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica,"微軟正黑體", sans-serif;
}


img {
    vertical-align: bottom;
}


/* header------------------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-head {
 width: 10%;

}


.header-img {
    max-width: 100%;
    height: auto;
}


.header-nav {
    display: none;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}



.header-btn {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    padding: .7rem 1rem;
    cursor: pointer;
}

.haeder-btn-xmark {
    position: absolute;
    right: .5rem;
    top: 1rem;
    color: aqua;    
}


.header-li {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}


.header-link {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
}

/* helper------------------------- */

.container-lg {
    max-width: 1520px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/* fotter------------------------- */
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
    padding: 10rem 3rem 2rem;
    align-items: flex-end;
}

.footer-foot {
    position: fixed;
    right: 3rem;
    bottom: 4rem;
}

.footer-link {
    color: #999;
}
.footer-link:hover {
    color: #666;
}
.footer-link-top {
    font-size: 3rem;
}

.footer-desc {
    font-size: .9rem;
    color: #666;
}

.footer-ul {
    display: flex;
}

/* site------------------------- */
.site {
    width: 1rem;
    position: fixed;
    left: 3rem;
    bottom: 6rem;
    z-index: 10;
    line-height: 1.4;
    color: #444;
}

.site-line {
    background-color: #444;
    width: 1px;
    height: 200px;
    display: block;
    margin-left: .45rem;
}

@media screen and (max-width:414px) {
    .footer-body,.site{
        display: none;
    }
    .header-head {
        width: 30%;
        padding-left: 1rem;
    }

    .footer-foot {
        right: 2rem;
        bottom: 2rem;
    }
}